@model MVC_5.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>

<div>
    
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

            <dd>
                @Html.DisplayFor(model => model.Section)
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


